.main {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .main {
    grid-template-columns: 1fr;
  }
}
